/* root custom element */
privacy-policy {
    --color-background: white;
    --color-theme: lightgray;
    --line-height: 1.6;
    --font-size: 17px;
}
privacy-policy {
    line-height: var(--line-height);
    font-size: var(--font-size);
    padding: 0.5rem;
}
@media (min-width: 40rem) {
    privacy-policy {
	padding: 2.5rem;
    }
}


/* default html elements */
privacy-policy a {
    word-break: break-word;
}

privacy-policy ul,
privacy-policy ol {}

privacy-policy li {
    margin-bottom: 0.5rem;
}

privacy-policy p {
    margin-top: 0;
}

/* header */
privacy-policy-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
privacy-policy-header-title {
    font-size: 2rem;
}
privacy-policy-updated-date {
    display: flex;
    margin-left: 2rem;
    font-style: italic;
}

/* vertical display */
privacy-policy,
privacy-policy-list {
    display: flex;
    flex-direction: column;
}

/* lists, and lists in lists */
privacy-policy-list {
    border-left: 1px solid var(--color-theme);
    padding-left: 1rem;
    padding-top: 1rem;
}
@media (min-width: 40rem) {
    privacy-policy-list {
	padding-left: 2.7rem;
    }
}
privacy-policy-list privacy-policy-list {
}

/* a content section can be:
   - with no number
   - with a number or letter */
privacy-policy-section {
    display: block;
    padding-bottom: 2rem;
}
privacy-policy-section[number] {
    position: relative;
}

/* a section number */
privacy-policy-section-number {
    font-weight: bold;
    line-height: 1.3;
    font-size: 1.5rem;
    margin-right: 1rem;
    float: left;
}

/* a section title */
privacy-policy-section-title {
    font-size: 2rem;
    margin-top: -0.6rem;
    display: block;
}
